.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.navbar-brand-logo {
  font-size: 24px;
  font-weight: bold;
  position: relative;
  display: inline-block;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.navbar-shadow {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-bg {
  height: 100vh;
  margin-top: 3%;
}
.header-form {
  padding: 15% 0 15% 0 !important;
  position: absolute;
}
.header-title {
  font-size: 32px;
  font-weight: bold;
}
.light-placeholder::placeholder {
  color: #6c757d;
}

.dark-placeholder::placeholder {
  color: #cccccc;
}

.accordion-item {
  border-radius: 16px 16px 16px 16px ;
}
.accordion-header, .accordion-button {
  border-radius: 16px 16px 16px 16px !important;
  font-weight: bold;
}
.accordion-header.bg-light > .accordion-button {
  background-color: rgba(0, 0, 0, 0.5) !important;
  opacity: .9 !important;
  border-radius: 16px 16px 16px 16px;
}

.accordion-header.bg-dark > .accordion-button {
  background-color: #121212 !important;
  color: white !important;
  border-radius: 16px 16px 16px 16px;
}
.accordion-body {
  border-radius: 0 0 16px 16px;
}

.accordion-button::after {
  color: white !important;
}
.accordion-button:not(.collapsed){
  background-color: #121212 !important;
  border-radius: 16px 16px 0 0 !important;
  color: black;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
body.bg-dark {
  background-color: #121212 !important;
  color: white !important;
}

body.bg-light {
  background-color: white !important;
  color: black !important;
}

.bg-light1{
  background-color: rgba(255, 255, 255, .7);
}

.bg-light2{
  background-color: rgba(0, 0, 0, 0.5);
  opacity: .9;
}


.dot-right {
  animation: move-dot-right 2s infinite alternate;
}

.radius-16{
  border-radius: 16px;
}
.padding-0 {
  padding: 0 !important;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
